<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggendrick.cursach">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_rect"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Levels_list"></activity>
        <activity
            android:name=".Level_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_11"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level_15"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>